<div class="main-content">
  <div class="container-fluid">
    <div class="row">
          
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                              <img class="img" src="../assets/img/thermometer.png" />
                            <!--<img href="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/32/519875-84_Thermometer_Full-256.png">-->
                    </div>
                    <p class="card-category">Temperature</p>
                    <h3 class="card-title">{{temperature}} °C</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                      <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                                  <img class="img" src="../assets/img/humidity.png" />
                                <!--<img href="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/32/519875-84_Thermometer_Full-256.png">-->
                        </div>
                        <p class="card-category">Humidity</p>
                        <h3 class="card-title">{{humidity}} %</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                          <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                      <img class="img" src="../assets/img/key.png" />
                                    <!--<img href="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/32/519875-84_Thermometer_Full-256.png">-->
                            </div>
                            <p class="card-category">System</p>
                            <h3 class="card-title">System is secure</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
        
    </div>
    
      <div class="row">
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Temperature history</h4>
                    <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 2% </span> increase in today temperature.</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated 3 seconds ago
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="humidityHistory"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Humidity history</h4>
                    <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 3% </span> increase in today temperature.</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated 3 seconds ago
                    </div>
                </div>
            </div>
        </div>

      </div>
        <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                              <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    
                                    <button (click)="turnOffLight()"  >
                                        <img class="img" src="../assets/img/lightClosed.png" />
                                    </button>
                                  <!--<img href="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/32/519875-84_Thermometer_Full-256.png">-->
                          </div>
                          <div class="card-icon">
                            <button (click)="turnOnLight()"  >
                                <img class="img" src="../assets/img/light.png"  />
                            </button>
                          <!--<img href="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/32/519875-84_Thermometer_Full-256.png">-->
                  </div>
                                <p class="card-category">Light</p>
                                <h3 class="card-title">Light</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="card card-stats">
                              <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    
                                    <button (click)="unlockDoor()"  >
                                        <img class="img" src="../assets/img/unlock.png" />
                                    </button>
                                  <!--<img href="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/32/519875-84_Thermometer_Full-256.png">-->
                                </div>
                                <p class="card-category">Door</p>
                                <h3 class="card-title">Door</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
  </div>
</div>
