<div class="main-content">
  <div class="container-fluid">
      <div class="row">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Ben's log</h4>
                            <p class="card-category"> Here is the system log</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div ng-controller="TableListComponent">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            #
                                        </th>
                                        <th>
                                                Date and time
                                        </th>
                                        <th>
                                            Details
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let log of Logs; let i = index">
                                            <div *ngIf="log.Message == 'Ben face was detected'">
                                            <td>
                                                {{i + 1}}
                                            </td>
                                            <td>
                                                {{log.Date}}
                                            </td>
                                            <td>
                                                  {{log.Message}}
                                            </td>
                                        </div>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
          
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="#pablo">
                          <img class="img" src="../assets/img/faces/Ben.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Beniamin Bia</h4>
                      <p class="card-description">
                          Don't be scared of the truth, the hardware acceleration is the future
                      </p>
                      <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
